:host {
    &>header {
		width: 100%;
		top: 0;
		left: 0;
        z-index: 300;
		position: fixed;
        font-size: 14px;
        height: 64px;
        background: #fff;
        box-shadow: 0 2px 4px 0 rgb(0 0 0 / 8%);

        .q-header-left {
            float: left;
            width: 512px;
            height: 64px;
            background: #fff;
			color: #484848;

			.fa-hand-o-left {
				font-size: 24px;
				margin: 20px 22px;
			}
        }

        .q-header-right {
            font-size: 0;
            width: 512px;
            height: 64px;
            float: right;
            background: #fff;

			button {
				line-height: 30px;
				margin-right: 10px;
				margin-top: 16px;
				float: right;
			}

			&>.fa {
				font-size: 18px;
				line-height: 64p;
				margin-left: 16px;
				color: #8c8c8c;
				display: block;
				float: right;
				margin-top: 20px;
				&:first-child {
					margin-right: 24px;
				}
			}
        }

        .q-header-center {
            height: 64px;
            text-align: center;
            display: inline-block;
            width: calc(100% - 1024px);
        }
    }

	.unactive {
		color: #aaa;
	}
}

:host ::ng-deep {
    .ant-breadcrumb {
        line-height: 64px;
    }

    nz-breadcrumb-item:last-child {
        color: rgba(0, 0, 0, 0.45);
    }

	.fa-eye {
		margin-right: 5px;
	}

    .active {
        color: #2672ff !important;
		position: relative;
        &::after {
            display: block;
            height: 2px;
            content: "";
            opacity: 0;
            transition: all .3s ease;
            position: absolute;
            bottom: -23px;
            width: 100% !important;
            opacity: 1 !important;
            background-color: #2672ff !important;
            left: 0 !important;
        }
    }
}
